@import "tailwindcss";

@theme {
  --spacing: 0.25rem;

  --color-primary: #2e8673;
  --color-primary-light: #66bdab;
  --color-primary-mid: #469d8b;
  --color-primary-soft: #57ad9b;
  --color-dark: #0d0b08;
  --color-dark-mid: #211f21;
  --color-dark-soft: #333133;
}